extends templates/base

block contents
    +HrImg('resources/imgs/pos-bg-1.jpg', '0')
        h3.text-center.text-white Reach Us with Phone, Text, Email, Wechat or Fax.

    .container.mx-auto.my-3
        .row
            .h2.m-2.col-12.text-center Office:
            span.text-secondary.h5.col-6.text-right Phone(no text):
            span.col-6.h5 (713) 952-3600
            span.text-secondary.h5.col-6.text-right Fax:
            span.col-6.h5 (713) 952-3605
            span.text-secondary.h5.col-6.text-right Wechat ID:
            span.col-6.h5 gmpinc
            span.text-secondary.h5.col-6.text-right Email:
            span.col-6.h5 gmpinc@ymail.com
            span.text-secondary.h5.col-6.text-right Address:
            span.col-6.h5 2825 Wilcrest Drive #123, Houston, Tx 77042
            span.text-secondary.h5.col-6.text-right Open Hours:
            span.col-6.h5 Monday to Friday: 9:00AM to 6:00PM
            hr.col-12
            .h2.m-2.col-12.text-center Representatives:
            .h4.m-2.col-12.text-center.text-success Brandon Lam:
            span.text-secondary.h5.col-6.text-right Cellphone:
            span.col-6.h5 (832) 758-5886
            span.text-secondary.h5.col-6.text-right Email:
            span.col-6.h5 blamgmpinc@gmail.com
            hr.col-12
            .h2.m-2.col-12.text-center Operation:
            span.text-secondary.h5.col-6.text-right Operation Email:
            span.col-6.h5 operation.gmpinc@gmail.com
            span.text-secondary.h5.col-6.text-right Cellphone:
            span.col-6.h5 (832) 867-2043
            hr.col-12
            .h2.m-2.col-12.text-center Tech Support:
            span.text-secondary.h5.col-6.text-right Tech Email:
            span.col-6.h5 tech.gmpinc@gmail.com
            .h4.m-2.col-12.text-center.text-success Kevin Lee:
            span.text-secondary.h5.col-6.text-right Cellphone:
            span.col-6.h5 (832) 554-6381
            .h4.m-2.col-12.text-center.text-success Rex Hu:
            span.text-secondary.h5.col-6.text-right Cellphone:
            span.col-6.h5 (713) 364-9745