extends templates/base

block contents
    +HrImg('resources/imgs/pos-bg-3.jpg', '35%')
        h3.text-center.text-white Your best solution for POS and credit card processing

    .container.mx-auto
        .text-center.m-2.h2 Our Services:
        .text-center.m-5.h6.
            We provide customized business solutions that works best for you,
            no matter if you are retail, restaurant, massage, or a pizza store,
            our adaptive services will satisfy your needs.
        .text-center.m-5.h3 Talk to a representative:
            span.m-3.text-primary.text-nowrap (713) 952-3600
        .row
            .col-12.col-md-6.my-3
                .bg-white.shadow.rounded.p-3.text-center.h-100
                    h2.text-primary
                        i.fa.fa-desktop.mr-1
                        span Point of Sale:
                    li Customized All-In-One POS computer
                    li Tablet and self-ordering Kiosk support
                    li Multi-language support
                    li Free printer paper
                    li Multiple available software
                    li Online ordering integration
                    li Gift card and promotion program
                    li On-site installation
            .col-12.col-md-6.my-3
                .bg-white.shadow.rounded.p-3.text-center.h-100
                    h2.text-primary
                        i.fa.fa-credit-card.mr-1
                        span Credit Card Processing:
                    li Competitive rate
                    li Free receipt paper
                    li Fast boarding process
                    li Many terminal models to choose from
                    li Wireless credit cards terminal available
                    li process over internet or phone line
                    li integrate with our POS system
                    li On-site installation
                    li Supports virtual terminal
