<!DOCTYPE html><head><meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"><title>Global Merchant Processing</title><script src="/resources/js/jquery-3.4.1.min.js"></script><script src="/resources/js/popper.min.js"></script><link rel="stylesheet" type="text/css" href="/resources/css/bootstrap.min.css"><script src="/resources/js/bootstrap.min.js"></script><style>html, body {
    height: 100%;
    background-color: #f0f0f0f0;
    margin: 0;
    padding: 0;
}

html * {
    scroll-behavior: smooth;
}

@media only screen and (max-width: 575px) {
    #container{
        padding: 0;
    }
}</style></head><body><div class="container-fluid h-100" id="container"><p>Please replace the content block.</p></div><script src="/resources/js/main.js"></script></body>